[submodule "Bo0m_Engine/Bo0m_Engine/Source/ThirdParts/spdlog"]
	path = Bo0m_Engine/Bo0m_Engine/Source/ThirdParts/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bo0m_Engine/ThirdParts/GLFW"]
	path = Bo0m_Engine/ThirdParts/GLFW
	url = https://github.com/glfw/glfw
